nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 3rem;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

nav a {
  text-decoration: none;
  color: yellow;
  font-weight: bold;
  font-size: 1.2rem;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}
