/* ==========================
   Dashboard Layout
========================== */

.dashboard-layout {
  display: grid;

  grid-template-columns: 350px 1fr;

  gap: 2rem;

  align-items: start;

  width: 100%;
}

/* ==========================
   Responsive
========================== */

@media (max-width: 1000px) {
  .dashboard-layout {
    grid-template-columns: 1fr;
  }
}
